 <button id="button_toggle" type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed;onedit($event)"   ng-class="myClass" >{{ myText }}
                </button>

                <div collapse="isCollapsed">
                    <div class="well well-lg" style="position: relative;" >
                        <div class="search" style="z-index: 1 !important;">
                            <input ng-model="searchText" type="text" class="form-control" id="exampleInputEmail1" placeholder="" style="z-index: 1 !important;">
                        </div>                        
                        <ul >
                               
                            <li  ng-mouseover="expression($event)" tooltip-trigger="{{{true: 'mouseenter', false: 'hideonclick'}[showTooltip]}}" tooltip-template="'myTooltipTemplate_2.html'" ng-mouseover="expression($event)" data-name-driver="{{x.name_driver}}" data-image-driver="{{x.image_driver}}" 
                                data-phone="{{x.phone}}" data-vehicle="{{x.vehicle}}"
                                data-name-vehicle="{{x.name_vehicle}}" data-image-vehicle="{{x.image_vehicle}}"
                            ng-repeat="x in myData | filter: friendContainsSearchText " ng-click="select($event)" data-select="{{x.id}}" ng-if="x.name_driver == '' && x.vehicle != '' ">
                                <a href="#">- / {{x.vehicle}}</a>
                            </li>

                            <li  tooltip-trigger="{{{true: 'mouseenter', false: 'hideonclick'}[showTooltip]}}" tooltip-template="'myTooltipTemplate_3.html'" ng-mouseover="expression($event)" data-name-driver="{{x.name_driver}}" data-image-driver="{{x.image_driver}}" 
                                data-phone="{{x.phone}}" data-vehicle="{{x.vehicle}}"
                                data-name-vehicle="{{x.name_vehicle}}" data-image-vehicle="{{x.image_vehicle}}" ng-repeat="x in myData | filter: friendContainsSearchText" ng-click="select($event)" data-select="{{x.id}}" ng-if="x.name_driver != '' && x.vehicle == '' ">
                                <a href="#">{{x.name_driver}} / -</a>
                            </li>

                            <li  tooltip-trigger="{{{true: 'mouseenter', false: 'hideonclick'}[showTooltip]}}"tooltip-template="'myTooltipTemplate_4.html'" ng-mouseover="expression($event)" data-name-driver="{{x.name_driver}}" data-image-driver="{{x.image_driver}}" 
                                data-phone="{{x.phone}}" data-vehicle="{{x.vehicle}}"
                                data-name-vehicle="{{x.name_vehicle}}" data-image-vehicle="{{x.image_vehicle}}" ng-repeat="x in myData | filter: friendContainsSearchText " ng-click="select($event)"  ng-if="x.name_driver != '' && x.vehicle != '' " >
                                <a href="#">{{x.name_driver}} / {{x.vehicle}}</a>
                            </li>

                        </ul>

                    </div>
                </div>
              
                <script type="text/ng-template" id="myTooltipTemplate_4.html">

                    <div class="m-tooltip">
                        <div class="box-tooltip">
                            <div class="driver">
                                <h4 class="title">DRIVER</h4>
                                <div class="box-driver">
                                    <img src="img/{{image_driver_t}}" height="74" width="75">
                                        
                                        <p>{{ name_driver_t }} </p>
                                        <p>{{ phone_t }} </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div> 
                            <div class="hevicle">
                                <h4 class="title">VEHICLE</h4>
                                <div class="box-driver">
                                    <img src="img/{{image_vehicle_t}}" height="74" width="75">
                                    <p>{{vehicle_t}}</p>
                                    <p class="hm-1">{{ name_vehicle_t }}</p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>                   
                        </div>
                    </div>
                </script>

                <script type="text/ng-template" id="myTooltipTemplate_2.html">

                    <div class="m-tooltip">
                        <div class="box-tooltip">                          

                            <div class="hevicle">
                                <h4 class="title">VEHICLE</h4>
                                <div class="box-driver">
                                    <img src="img/{{image_vehicle_t}}" height="74" width="75">
                                    <p>{{vehicle_t}}</p>
                                    <p class="hm-1">{{ name_vehicle_t }}</p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </script>

                <script type="text/ng-template" id="myTooltipTemplate_3.html">

                    <div class="m-tooltip">
                        <div class="box-tooltip">
                            <div class="driver">
                                <h4 class="title">DRIVER</h4>
                                <div class="box-driver">
                                    <img src="img/{{image_driver_t}}" height="74" width="75">
                                        
                                        <p>{{ name_driver_t }} </p>
                                        <p>{{ phone_t }} </p>
                                    <div class="clear"></div>
                                </div>
                            </div>                            
                        </div>                   
                    </div>
                </script>